.div-1, .div-2 {
    background-color: red;
    /* display: block; POR DEFECTO - div tiene dispalay block*/
}

.span-1 {
    background-color: aquamarine;
    /* display: inline; POR DEFECTO - span tiene display inline*/
    float: right;
}

.span-2 {
    background-color: aquamarine;
    float: left;
} 
.img {
    width: 50px;
    height: 50px;
    /* display: inline-block; POR DEFECTO - img tiene un displat inline-block */
}

